# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env*

# Node.js / Next.js
node_modules/
.next/
next-env.d.ts
out/
.DS_Store
*.pem